<?xml version="1.0" encoding="UTF-8"?>
<theme>
  <formatVersion>4</formatVersion>
  <variables>
    <baseColor>914324</baseColor>
    <gradientEndColor>535555</gradientEndColor>
    <centerFadeColor>40609b50</centerFadeColor>
    <bottomBarColor>e26edb</bottomBarColor>
    <glowColor>3060Ab20</glowColor>
    <systemInfoColor>FAFAFFB0</systemInfoColor>
		<image name="background" extra="false">
			<!--<tile>true</tile>-->
			<size>1 1</size>
			<pos>0 0</pos>
			<origin>0 0</origin>
			<path>./archivo/fdmsys.png</path>
		</image>
  </variables>
</theme>
